{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
     <div class = 'content-section'>
          <form method = "POST">
            {% csrf_token %} <!--To add a security against attacks-->
            <fieldset class = "form-group">
                <legend> Join Today </legend>
                {{ form|crispy }}
            </fieldset>
            <div class = "form-group">
                <button class = "btn btn-outline-info" , type = "submit">Sign up</button>
            </div>
          </form>

          <div class = "border-top pt-3">
            <small class = "text-muted">
                Already have an Account? <a href = "{% url 'login' %}" class="ml-2"> Sign In </a>
            </small>
          </div>
     </div>
{% endblock content %}